<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Currency rates </h1>
        </div>
    </div>
    <div class="col-md-6">
        <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/all}">
            All currencies
        </a>
        <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/select}">
            Select currency
        </a>
        <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/create}">
            Edit rates
        </a>
    </div>
    <form action="#" th:action="@{/CurrencyAggregator/delete}" th:object="${form}" th:method="delete">
        <p>Currency:
            <select th:field="*{name}">
                <option th:each="currency : ${currencies}" th:value="${currency.name}" th:text="${currency.name}">
                </option>
            </select>
        </p>
        <p>Bank:
            <select th:field="*{bank}">
                <option th:each="bank : ${banks}" th:value="${bank.name}" th:text="${bank.name}">
                </option>
            </select>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>