<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Currency rates </h1>
        </div>
    </div>
    <div class="col-md-6">
    <a class="btn btn-success" href="#" th:href="@{/edit-rates.html}"> Add Books </a>
    <a class="btn btn-primary" href="#" th:href="@{/delete-rates.html}" th:classappend="${rates.empty} ? 'disabled' : ''"> Edit Books </a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Bank </th>
                    <th> Currency </th>
                    <th> Rate </th>
                    <th> Transaction type </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${rates.empty}">
                    <td colspan="2"> No Currencies Available </td>
                </tr>
                <tr th:each="rate : ${rates}">
                    <td><span th:text="${rate.bank}"> Bank </span></td>
                    <td><span th:text="${rate.name}"> Currency </span></td>
                    <td><span th:text="${rate.value}"> Rate </span></td>
                    <td><span th:text="${rate.transactionType}"> Transaction type </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>