<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to currency rates aggregator </h1>
        </div>
    </div>

    <div class="col-md-6">
        <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/all}">
            All currencies
        </a>
        <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/select}">
            Select currency
        </a>
        <a class="btn btn-success" hrf="#" th:href="@{/CurrencyAggregator/create}">
            Edit rates
        </a>
    </div>
</div>
</body>
</html>