<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Currency rates </h1>
        </div>
    </div>
    <div class="col-md-6">
    <a class="btn btn-success" href="#" th:href="@{/edit-rates.html}"> Add Books </a>
    <a class="btn btn-primary" href="#" th:href="@{/delete-rates.html}" th:classappend="${rates.empty} ? 'disabled' : ''"> Edit Books </a>
    </div>
    <form action="#" th:action="@{/CurrencyAggregator/show}" th:object="${form}" method="post">
        <p>Currency: <input type="text" th:field="*{name}" /></p>
        <p>Transaction type:
            <select th:field="*{isBuying}">
            <option th:value="${true}" th:text="BUYING"></option>
            <option th:value="${false}" th:text="SELLING"></option>
            </select>
        </p>
        <p>
            Sorting:
            <select th:field="*{isAscending}">
                <option th:value="${true}" th:text="ASCENDING"></option>
                <option th:value="${false}" th:text="DESCENDING"}>>
                </option>
            </select>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    </div>
</div>
</body>
</html>