<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency rates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Currency rates </h1>
        </div>
    </div>
    <div class="col-md-6">
    <a class="btn btn-success" href="#" th:href="@{/CurrencyAggregator/create}"> Edit rates </a>
    <a class="btn btn-primary" href="#" th:href="@{delete-rates.html}" th:classappend="${rates.empty} ? 'disabled' : ''"> Delete rates </a>
    </div>
    <form action="#" th:action="@{CurrencyAggregator/rates/{currency}/{isBuying}/{ascendByPrice}}" th:object="${form}"
          method="get">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Currency </th>
                    <th> Transaction type</th>
                    <th> Sort </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <!--<td>-->
                        <!--<select th:field="*{isBuying}">-->
                        <!--<option th:value="true" th:text="Buying"></option>-->
                        <!--<option th:value="false" th:text="Selling"></option>-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<select th:field="*{ascendByPrice}">-->
                            <!--<option th:value="true" th:text="Ascending"></option>-->
                            <!--<option th:value="false" th:text="Descending"></option>-->
                        <!--</select>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Bank </th>
                    <th> Currency </th>
                    <th> Rate </th>
                    <th> Transaction type </th>
                    <th> Operation allowed </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${rates.empty}">
                    <td colspan="2"> No Currencies Available </td>
                </tr>
                <tr th:each="rate : ${rates}">
                    <td><span th:text="${rate.bank}"> Bank </span></td>
                    <td><span th:text="${rate.name}"> Currency </span></td>
                    <td><span th:text="${rate.value}"> Rate </span></td>
                    <td><span th:text="${rate.transactionType}"> Transaction type </span></td>
                    <td><span th:text="${rate.allowed}"> Operation allowed </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>